.App {
  text-align: center;
  position: center;
  /*background-image: url('https://cutewallpaper.org/21/website-background-images-hd/Autodesk-Wallpaper-Website-Background-Hd-Wallpapers-.jpg');*/
  height: 420px;
  width: 300px;
  border-radius: 15px;
  background: black;
  color: white;
  font-family: Arial;
  padding: 18px;
  box-shadow: 4px 4px 4px grey;
}

.btn {
  margin: 2px;
  width: 60px;
  height: 60px;
  background: slategray;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;

}

.btn.ac{
  width: 80%;
  border-radius: 34px;
}

.btn:hover{
  filter:brightness(120%);
}
.btn:active{
  filter:brightness(80%);
}

.btn.bg-grey{
  background: darkgrey;
}
.btn.bg-orange{
  background: darkorange;
}
